.index{
  padding: 0px 20px;
}
.cartEmpty{
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  font-size: 22px;
}

#cartContainer,
.contactFormContainer{
  margin: 30px auto;
  background-color: #F3E9F1;
  width: 95%;
  border-radius:20px;
}
#cart{
  padding: 20px;
}
#cart table{
  width: 80%;
}
.displayTotal{
  font-size: 22px;
  text-align: center;
  margin: 25px 0px;
}
/* AFFICHAGE PRODUIT */
#cartStructure{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  margin-top: 20px;
  border-bottom: #000 solid 1px;
}
#cartStructure img{
  width: 60%;
  height: auto;
  border-radius: 15px;
}

/* FORMULAIRE */
#contactForm{
  margin: 15px 30px;
}
#contactForm input{
  margin: 10px 5px;
}
#contactForm label{
  margin: 30px 5px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}
.form-row{
  display: flex;
}
#error{
  color: red;
  padding-top: 20px;
  padding: 20px 0px 5px 20px;
}
/* bouton supprimer et paiement */
.btnDefault,
.btnDel{
  margin: 15px auto; 
  font-size: 20px;
  background-image: linear-gradient(123deg, #d58135 0%, #a273ef 85%);
  border-radius: 15px;
  border: none;
  padding: 15px;
  transition: all 300ms ease-in-out;
}
.btnDel{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
}
.btnDefault:hover,
.btnDel:hover{
  cursor: pointer;
  box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.2);
}

/* RESPONSIVE */
@media all and (max-width: 680px){
  #cartStructure{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-top: 0px;
    
  }
  #cartStructure img{
    width: 100%;
    border-radius: 5px;
  }
  .form-row{
    flex-direction: column;
  }
}

