.navbar{
  display: grid;
  grid-template-columns: 80% 10% 10%;
}
.index{
  margin: 0px 28px;
}

.cartEmpty{
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  font-size: 22px;
}

#panierContainer,
.contactFormContainer{
  margin: 30px auto;
  background-color: #F3E9F1;
  width: 95%;
  border-radius:20px;
}
#panier{
  padding: 10px;
}
#panier table{
  width: 80%;
}
/* AFFICHAGE PRODUIT */
#cartStructure{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;

}
#cartStructure img{
  width: 60%;
  height: auto;
}

/* FORMULAIRE */
#contactForm{
  margin: 30px;
}
#contactForm input{
  margin: 10px 5px;
}
#contactForm label{
  margin: 30px 5px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}
.form-row{
  display: flex;
}
#payBtn,
.btnDelete{
  margin: 15px auto; 
  font-size: 20px;
  background-image: linear-gradient(123deg, #d58135 0%, #a273ef 85%);
  border-radius: 15px;
  border: none;
  padding: 15px;
  transition: all 300ms ease-in-out;
}
#payBtn:hover,
.btnDelete:hover{
  cursor: pointer;
  box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.25);
}